# fly.toml app configuration file generated for despacho-gas-backend on 2025-11-20T17:50:00Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "despacho-gas-backend"
primary_region = "iad"

[build]

[env]
  PORT = "8080"
  FLASK_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

[[mounts]]
  source = "despacho_gas_data"
  destination = "/data"

